.about,
.contact,
.home,
.shop1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.home {
  min-width: 48px;
  cursor: pointer;
}
.about,
.contact,
.shop1 {
  min-width: 42px;
}
.about,
.contact {
  min-width: 49px;
}
.contact {
  min-width: 66px;
}
.homeParent {
  margin: 0;
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.akarIconsheart,
.akarIconssearch,
.antDesignshoppingCartOutliIcon,
.mdiaccountAlertOutlineIcon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 28px;
}
.antDesignshoppingCartOutliIcon {
  cursor: pointer;
}
.frameParent,
.mdiaccountAlertOutlineParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mdiaccountAlertOutlineParent {
  width: 247px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent {
  align-self: stretch;
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-17xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-405xl);
  box-sizing: border-box;
  gap: var(--gap-138xl-5);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-28xl);
  max-width: 100%;
}
.frameGroup,
.shop,
.shopInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shopInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.shop {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-12xl);
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1350px) {
  .frameParent {
    gap: var(--gap-60xl);
    padding-left: var(--padding-193xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1250px) {
  .frameParent {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .homeParent {
    display: none;
  }
  .frameParent {
    gap: var(--gap-20xl);
    padding-left: var(--padding-87xl);
    box-sizing: border-box;
  }
  .frameGroup {
    gap: var(--gap-4xl);
  }
  .shop {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
