.title {
  position: relative;
  font-weight: 500;
}
.formField,
.provinceParent {
  align-self: stretch;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.provinceParent {
  height: 75px;
  color: var(--color-darkgray);
}
.formField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  text-align: left;
  color: var(--color-black);
}
