.rocketSingleSeater,
.shopNow {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.rocketSingleSeater {
  align-self: stretch;
}
.shopNow {
  display: inline-block;
  min-width: 121px;
}
.shopNowWrapper {
  border-bottom: 2px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-6xs);
  font-size: var(--font-size-5xl);
}
.rocketSingleSeaterParent {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  min-width: 440px;
  max-width: 100%;
}
.rocketSingleSeater1 {
  align-self: stretch;
  height: 652px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.rocketSingleSeater1Wrapper {
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-width: 432px;
}
.frameParent,
.frameWrapper,
.homeInner,
.rocketSingleSeater1Wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-14xl);
}
.frameWrapper,
.homeInner {
  align-items: flex-start;
  box-sizing: border-box;
}
.frameWrapper {
  flex: 1;
  background-color: var(--color-moccasin);
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-132xl) var(--padding-149xl);
  min-height: 900px;
}
.homeInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1425px) {
  .rocketSingleSeaterParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .frameWrapper {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .rocketSingleSeater {
    font-size: var(--font-size-32xl);
  }
  .rocketSingleSeater1Wrapper,
  .rocketSingleSeaterParent {
    min-width: 100%;
  }
  .frameParent {
    gap: var(--gap-base);
  }
  .frameWrapper {
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rocketSingleSeater {
    font-size: var(--font-size-19xl);
  }
  .shopNow {
    font-size: var(--font-size-lgi);
  }
  .frameWrapper {
    padding: var(--padding-15xl) var(--padding-xl) var(--padding-52xl);
    box-sizing: border-box;
  }
}
