.about,
.contact,
.home,
.shop {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
}
.about,
.contact,
.shop {
  min-width: 42px;
}
.about,
.contact {
  min-width: 49px;
}
.contact {
  min-width: 66px;
}
.homeParent {
  margin: 0;
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.akarIconsheart,
.akarIconssearch,
.antDesignshoppingCartOutliIcon,
.mdiaccountAlertOutlineIcon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 28px;
}
.mdiaccountAlertOutlineParent {
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent,
.singleProductInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-17xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-405xl);
  gap: var(--gap-138xl-5);
}
.singleProductInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-lg) 0;
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 1425px) {
  .frameParent {
    gap: var(--gap-60xl);
    padding-left: var(--padding-193xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .homeParent {
    display: none;
  }
  .frameParent {
    gap: var(--gap-20xl);
    padding-left: var(--padding-87xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
