.maskGroupIcon {
  width: 287px;
  height: 287px;
  position: relative;
  object-fit: contain;
}
.sjp0825 {
  align-self: stretch;
  position: relative;
}
.rs20000000 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.sjp0825Parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.frameWrapper,
.maskGroupParent,
.sjp0825Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 var(--padding-18xl-5);
}
.maskGroupParent {
  width: 326px;
  flex-direction: column;
  padding: 0 var(--padding-lgi) 0 var(--padding-lgi-9);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 320px;
  max-width: 100%;
}
.maskGroupIcon1 {
  width: 287px;
  height: 287px;
  position: relative;
  object-fit: contain;
}
.bellaChairAnd {
  align-self: stretch;
  position: relative;
}
.rs10000000 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.bellaChairAndTableParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-25xl) 0 var(--padding-24xl);
}
.maskGroupGroup {
  width: 326px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-lgi-8);
  box-sizing: border-box;
  gap: var(--gap-mid);
  min-width: 320px;
  max-width: 100%;
}
.frameParent,
.shopInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1400.1px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 47px 29.6px;
  min-height: 1265px;
}
.shopInner {
  justify-content: flex-end;
  padding: 0 var(--padding-lgi-9) var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .rs10000000,
  .rs20000000 {
    font-size: var(--font-size-lgi);
  }
  .frameContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
