.asgaardSofa1 {
  height: 592px;
  flex: 1;
  position: relative;
  max-width: 845px;
  overflow: hidden;
  object-fit: cover;
  min-width: 549px;
}
.newArrivals {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.newArrivalsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.asgaardSofa {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.asgaardSofaWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-14xl);
  font-size: var(--font-size-29xl);
}
.orderNow {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 106px;
}
.orderNowWrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-52xl);
  background-color: var(--color-oldlace-100);
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.orderNowWrapper:hover {
  background-color: var(--color-antiquewhite);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-21xl) 0 var(--padding-21xl-5);
}
.asgaardSofa1Parent,
.frameContainer,
.frameParent,
.frameWrapper,
.homeInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  max-width: 331px;
}
.asgaardSofa1Parent,
.frameWrapper,
.homeInner {
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper {
  width: 331px;
  flex-direction: column;
  padding: var(--padding-175xl-5) 0 0;
  min-width: 331px;
}
.asgaardSofa1Parent,
.homeInner {
  flex-direction: row;
}
.asgaardSofa1Parent {
  flex: 1;
  background-color: var(--color-oldlace-200);
  overflow: hidden;
  padding: 0 var(--padding-xl);
  gap: var(--gap-69xl);
}
.homeInner {
  align-self: stretch;
  padding: 0 0 var(--padding-50xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .asgaardSofa1 {
    max-width: 100%;
  }
  .frameWrapper {
    flex: 1;
  }
  .asgaardSofa1Parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .asgaardSofa1 {
    min-width: 100%;
  }
  .asgaardSofa {
    font-size: var(--font-size-19xl);
  }
  .asgaardSofa1Parent {
    gap: var(--gap-25xl);
  }
  .homeInner {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .newArrivals {
    font-size: var(--font-size-lgi);
  }
  .asgaardSofa {
    font-size: var(--font-size-10xl);
  }
  .frameWrapper {
    padding-top: var(--padding-107xl);
    box-sizing: border-box;
  }
  .asgaardSofa1Parent {
    gap: var(--gap-3xl);
  }
}
