.billingDetails {
  margin: 0;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: inherit;
}
.title {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
}
.formFieldChild {
  align-self: stretch;
  height: 75px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.formField {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  min-width: 141px;
}
.title1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 86px;
}
.formFieldItem {
  align-self: stretch;
  height: 75px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.formField1,
.formFieldParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.formField1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
  min-width: 141px;
}
.formFieldParent,
.frameWrapper {
  flex-direction: row;
  max-width: 100%;
}
.formFieldParent {
  flex: 1;
  gap: var(--gap-lgi);
}
.frameWrapper {
  align-self: stretch;
}
.title2 {
  position: relative;
  font-weight: 500;
}
.formFieldInner {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
}
.formField2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.title3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 118px;
}
.formField3,
.frameDiv {
  align-self: stretch;
  flex: 1;
}
.frameDiv {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
}
.formField3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.title4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 92px;
}
.formFieldChild1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
}
.formField4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.title5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
}
.formFieldChild2 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
}
.formField5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.title6 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.formFieldChild3 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
}
.formField6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.title7 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 51px;
}
.formFieldChild4 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
}
.formField7 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-3xl);
}
.billingDetailsParent,
.formField7,
.formFieldGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formFieldGroup {
  align-self: stretch;
  height: 1361px;
  gap: var(--gap-15xl);
}
.billingDetailsParent {
  flex: 0.8499;
  background-color: var(--color-white);
  padding: var(--padding-13xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  min-width: 398px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1425px) {
  .billingDetailsParent {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .billingDetailsParent {
    flex: 1;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .billingDetails {
    font-size: var(--font-size-10xl);
  }
  .formFieldParent {
    flex-wrap: wrap;
  }
  .billingDetailsParent {
    gap: var(--gap-lg);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .billingDetails {
    font-size: var(--font-size-3xl);
  }
  .formFieldGroup {
    gap: var(--gap-mid);
  }
}
