.frameChild {
  height: 77px;
  width: 77px;
  position: relative;
  object-fit: cover;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-59xl);
}
.checkout,
.home {
  position: relative;
  font-weight: 500;
}
.checkout {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.home {
  display: inline-block;
  min-width: 48px;
}
.dashiconsarrowDownAlt2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.dashiconsarrowDownAlt2Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.checkout1 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 77px;
}
.frameContainer,
.homeParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeParent {
  gap: var(--gap-7xs);
}
.frameContainer {
  padding: 0 var(--padding-19xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.checkoutInner,
.frameParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-52xl) var(--padding-xl) var(--padding-53xl);
  background-image: url(/public/frame-246@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.checkoutInner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 825px) {
  .checkout {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 450px) {
  .checkout {
    font-size: var(--font-size-10xl);
  }
}
