.frameChild,
.frameItem {
  position: relative;
  display: none;
}
.frameChild {
  height: 525px;
  width: 1440px;
  background-color: var(--color-white);
  max-width: 100%;
}
.frameItem {
  height: 55px;
  width: 817px;
  background-color: var(--color-oldlace-100);
  flex-shrink: 0;
}
.price,
.product {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 63px;
  z-index: 2;
}
.price {
  min-width: 40px;
}
.priceWrapper {
  width: 63px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.quantity,
.subtotal {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
  z-index: 2;
}
.subtotal {
  min-width: 69px;
}
.quantityParent,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.quantityParent {
  width: 175px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.rectangleGroup {
  align-self: stretch;
  background-color: var(--color-oldlace-100);
  overflow-x: auto;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-127xl) var(--padding-base)
    var(--padding-123xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.asgaardSofa,
.frameInner {
  position: relative;
  z-index: 1;
}
.frameInner {
  height: 106px;
  width: 106px;
  object-fit: cover;
}
.asgaardSofa {
  display: inline-block;
  min-width: 108px;
}
.asgaardSofaWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-smi) 0 0;
}
.rs25000000 {
  position: relative;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.rs25000000Wrapper {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.rectangleDiv {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.removeButton {
  position: relative;
  display: inline-block;
  min-width: 6px;
  z-index: 1;
}
.rectangleContainer {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-smi);
  z-index: 1;
  color: var(--color-black);
}
.rs250000001 {
  position: relative;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.rs25000000Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.antDesigndeleteFilledIcon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 28px;
  z-index: 1;
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer,
.frameDiv,
.frameParent1 {
  display: flex;
  align-items: flex-start;
}
.frameDiv {
  width: 189px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  color: var(--color-black);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-18xl) 0 0;
  box-sizing: border-box;
  min-width: 422px;
}
.frameGroup,
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 792px;
  flex-direction: row;
  gap: var(--gap-17xl);
  color: var(--color-darkgray);
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-36xl);
}
.frameChild1 {
  width: 393px;
  height: 390px;
  position: relative;
  background-color: var(--color-oldlace-200);
  display: none;
  max-width: 100%;
}
.cartTotals {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.cartTotalsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
}
.rs250000002,
.subtotal1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.subtotal1 {
  font-weight: 500;
  min-width: 69px;
}
.rs250000002 {
  color: var(--color-darkgray);
  min-width: 112px;
}
.subtotalParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rs250000003,
.total {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.total {
  display: inline-block;
  min-width: 41px;
}
.rs250000003 {
  font-size: var(--font-size-xl);
  color: var(--color-darkgoldenrod);
}
.frameParent3,
.totalParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent3 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.frameChild2 {
  height: 59px;
  width: 222px;
  position: relative;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.checkOut {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 105px;
  z-index: 1;
}
.groupButton {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-39xl) var(--padding-smi)
    var(--padding-40xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.groupButton:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.frameParent2,
.frameWrapper1 {
  align-self: stretch;
  display: flex;
}
.frameWrapper1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 0 var(--padding-2xs);
}
.frameParent2 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  font-size: var(--font-size-base);
}
.groupDiv,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.groupDiv {
  width: 393px;
  background-color: var(--color-oldlace-200);
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-56xl) var(--padding-61xl);
  gap: var(--gap-42xl);
  min-width: 393px;
  z-index: 1;
  font-size: var(--font-size-13xl);
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-53xl) var(--padding-81xl) var(--padding-44xl);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .groupDiv {
    flex: 1;
  }
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .rectangleGroup {
    padding-left: var(--padding-52xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
  .frameContainer {
    flex-wrap: wrap;
  }
  .frameWrapper {
    min-width: 100%;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .frameParent {
    min-width: 100%;
  }
  .cartTotals {
    font-size: var(--font-size-7xl);
  }
  .groupDiv {
    min-width: 100%;
  }
  .rectangleParent {
    gap: var(--gap-mini);
    padding: var(--padding-28xl) var(--padding-31xl) var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangleGroup {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameGroup {
    gap: var(--gap-lg);
  }
  .frameParent {
    gap: var(--gap-8xl);
  }
  .cartTotals {
    font-size: var(--font-size-lgi);
  }
  .rs250000003 {
    font-size: var(--font-size-base);
  }
  .groupDiv {
    gap: var(--gap-11xl);
    padding: var(--padding-xl) var(--padding-xl) var(--padding-33xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
