.frameChild {
  height: 820px;
  width: 1440px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.branchRootsChild,
.branchRootsInner,
.branchRootsItem,
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 80px;
  object-fit: cover;
}
.branchRootsInner,
.branchRootsItem,
.groupIcon {
  top: 112px;
}
.branchRootsInner,
.groupIcon {
  top: 224px;
}
.groupIcon {
  top: 336px;
}
.siblingCore {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 35px;
  border-radius: var(--br-3xs);
  background-color: var(--color-oldlace-100);
  width: 423px;
}
.asgaardSofa3,
.siblingCoreParent {
  position: absolute;
  width: 481px;
  z-index: 1;
}
.asgaardSofa3 {
  top: 78px;
  left: 0;
  height: 391px;
  object-fit: cover;
}
.siblingCoreParent {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 72px;
}
.branchRoots {
  height: 500px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.branchRootsWrapper {
  width: 553px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 553px;
  max-width: 100%;
  z-index: 1;
}
.asgaardSofa,
.rs25000000 {
  position: relative;
  z-index: 1;
}
.asgaardSofa {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.rs25000000 {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkgray);
}
.cousinBranch,
.proximitySensing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.proximitySensing {
  flex-direction: row;
  padding: 0 var(--padding-12xs) var(--padding-5xs);
  font-size: var(--font-size-23xl);
}
.carbonstarHalfIcon,
.dashiconsstarFilled,
.dashiconsstarFilled1,
.dashiconsstarFilled2,
.dashiconsstarFilled3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 1;
}
.articulationPoint,
.rootedCluster {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rootedCluster {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.articulationPoint {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.parentBunches {
  height: 31px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  z-index: 1;
}
.customerReview {
  position: relative;
  display: inline-block;
  min-width: 125px;
  z-index: 1;
}
.customerReviewWrapper,
.descendantFusion {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.customerReviewWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.descendantFusion {
  width: 289px;
  height: 41px;
  flex-direction: row;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-lgi-5);
  color: var(--color-darkgray);
}
.blankLine,
.settingTheBar {
  margin: 0;
}
.settingTheBarContainer {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.size {
  position: relative;
  display: inline-block;
  min-width: 27px;
  z-index: 1;
}
.sizeWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.frameItem,
.l {
  position: relative;
}
.frameItem {
  height: 30px;
  width: 30px;
  border-radius: var(--br-8xs);
  background-color: var(--color-moccasin);
  display: none;
}
.l {
  display: inline-block;
  min-width: 6px;
  z-index: 1;
}
.rectangleGroup {
  border-radius: var(--br-8xs);
  background-color: var(--color-moccasin);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs);
  z-index: 1;
}
.frameInner,
.xl {
  position: relative;
}
.frameInner {
  height: 30px;
  width: 30px;
  border-radius: var(--br-8xs);
  background-color: var(--color-snow-200);
  display: none;
}
.xl {
  display: inline-block;
  min-width: 14px;
  z-index: 1;
}
.rectangleContainer,
.rectangleDiv {
  border-radius: var(--br-8xs);
  background-color: var(--color-snow-200);
}
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-5xs);
  z-index: 1;
}
.rectangleDiv {
  height: 30px;
  width: 30px;
  position: relative;
  display: none;
}
.xs {
  position: relative;
  display: inline-block;
  min-width: 16px;
  z-index: 1;
}
.groupDiv {
  border-radius: var(--br-8xs);
  background-color: var(--color-snow-200);
  padding: var(--padding-8xs) var(--padding-6xs);
  z-index: 1;
}
.descendantGather,
.descendantGatherWrapper,
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.descendantGather {
  gap: var(--gap-base);
}
.descendantGatherWrapper {
  padding: 0 var(--padding-12xs) var(--padding-base);
}
.color {
  position: relative;
  display: inline-block;
  min-width: 38px;
  z-index: 1;
}
.anchors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.valueAggregator,
.valueAggregator1,
.valueAggregator2 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-mediumslateblue);
  z-index: 1;
}
.valueAggregator1,
.valueAggregator2 {
  background-color: var(--color-black);
}
.valueAggregator2 {
  background-color: var(--color-darkkhaki);
}
.featureSplitter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameChild1 {
  height: 64px;
  width: 123px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
}
.outputFormater {
  min-width: 9px;
}
.dataNormalizer,
.outputFormater,
.outputFormater1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dataNormalizer {
  font-weight: 500;
  min-width: 6px;
}
.outputFormater1 {
  min-width: 11px;
}
.rectangleParent1 {
  width: 123px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-smi) var(--padding-lg)
    var(--padding-sm);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameChild2 {
  height: 64px;
  width: 215px;
  position: relative;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.addToCart {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 119px;
  z-index: 1;
}
.decisionMaker,
.groupButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupButton {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-mini) var(--padding-29xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  min-width: 119px;
  white-space: nowrap;
  z-index: 1;
}
.groupButton:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.decisionMaker {
  align-self: stretch;
  gap: var(--gap-lg);
}
.dataCollector {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.dataCollector,
.rootedBranch,
.transformPoint {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.transformPoint {
  width: 358px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.rootedBranch {
  width: 424px;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.webAppDeveloper,
.webAppDeveloperChild {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.webAppDeveloperChild {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-200);
  z-index: 1;
}
.webAppDeveloper {
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.sku {
  min-width: 30px;
}
.div,
.sku,
.ss001 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.div {
  font-weight: 500;
  min-width: 4px;
}
.ss001 {
  min-width: 44px;
}
.parent,
.skuParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.skuParent {
  width: 151px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.category {
  min-width: 75px;
}
.category,
.div1,
.sofas {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.div1 {
  font-weight: 500;
  min-width: 4px;
}
.sofas {
  min-width: 45px;
}
.categoryParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.tags {
  position: relative;
  display: inline-block;
  min-width: 39px;
  z-index: 1;
}
.anchors1 {
  width: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.div2 {
  font-weight: 500;
  display: inline-block;
  min-width: 4px;
}
.div2,
.sofaChairHome {
  position: relative;
  z-index: 1;
}
.anchorsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.share {
  position: relative;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.fileHandler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0 0;
}
.div3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 4px;
  z-index: 1;
}
.akarIconsfacebookFill {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.akarIconsfacebookFillWrapper,
.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.akarIconsfacebookFillWrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.group {
  flex-direction: row;
  gap: var(--gap-xs);
}
.akarIconslinkedinBoxFill {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.roleAssigner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.antDesigntwitterCircleFillIcon {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.serverController {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.fileHandlerParent,
.frameGroup,
.serverController {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fileHandlerParent {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-4xl);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-xs);
}
.vectorIcon {
  height: 31.2px;
  width: 25px;
  position: relative;
  z-index: 1;
}
.frameParent {
  width: 404px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.webAppDeveloperParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.rectangleParent,
.uncleAuntCore,
.webAppDeveloperParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.uncleAuntCore {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-41xl);
  min-width: 394px;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-81xl) var(--padding-35xl-8)
    var(--padding-80xl);
  box-sizing: border-box;
  gap: var(--gap-63xl);
  z-index: 2;
  margin-top: -3px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1425px) {
  .rectangleParent {
    gap: var(--gap-22xl);
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .branchRootsWrapper {
    flex: 1;
  }
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .branchRootsWrapper {
    min-width: 100%;
  }
  .asgaardSofa {
    font-size: var(--font-size-15xl);
  }
  .webAppDeveloperParent {
    gap: var(--gap-xl);
  }
  .uncleAuntCore {
    gap: var(--gap-11xl);
    min-width: 100%;
  }
  .rectangleParent {
    gap: var(--gap-xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-6xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .asgaardSofa {
    font-size: var(--font-size-6xl);
  }
  .rs25000000 {
    font-size: var(--font-size-lgi);
  }
  .decisionMaker {
    flex-wrap: wrap;
  }
  .dataCollector {
    gap: var(--gap-base);
  }
  .rectangleParent {
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
