.trentonModularSofa31 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rs2500000,
.trentonModularSofa3 {
  position: relative;
}
.rs2500000 {
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.trentonModularSofa31Parent,
.trentonModularSofa3Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.trentonModularSofa31Parent {
  height: 372px;
  width: 320px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-12xl);
  min-width: 320px;
  max-width: 320px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1250px) {
  .rs2500000 {
    font-size: var(--font-size-lgi);
  }
}
@media screen and (max-width: 450px) {
  .rs2500000 {
    font-size: var(--font-size-lgi);
  }
}
